.draw-canvas{
    position: relative;
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%; */
}

.draw-canvas .main-part{
    /* grid-template-columns: 100%;
    grid-template-rows: 60px auto; */
    position: relative;
    width: 100%;
    height: 100%;
    /* display: grid; */
}

.draw-canvas .main-part .tool-bar{
    display: grid;
    grid-template-columns: 220px auto ;
    grid-template-rows: 50% 50%;
    width: 100%;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 31;
}

.draw-canvas .main-part .diagramDiv{
    position: relative;
    width: 100%;
    height: 100%;
}

.draw-canvas .elm-editor-part{
    position: absolute;
    bottom: 10px;
    width: 95%;
    left: 2.5%;
    max-height: 300px;
    min-height: 2px;
    overflow: auto;
    z-index: 32;
    transition-duration: 100ms
    /* display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 100%; */
    /* box-shadow: -5px 2px 20px rgb(97, 97, 96) */
}

.draw-canvas .elm-info-list{
    width: 200px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
}